<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="13.0.4" targetFramework="net48" />
  <package id="WizardWrx.AnyCSV" version="9.0.157" targetFramework="net48" />
  <package id="WizardWrx.BitMath" version="4.3.125.29248" targetFramework="net48" />
</packages>