<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="13.0.4" targetFramework="net48" />
  <package id="WizardWrx.AnyCSV" version="9.0.157" targetFramework="net48" />
  <package id="WizardWrx.ASCIIInfo" version="9.0.224" targetFramework="net48" />
  <package id="WizardWrx.AssemblyUtils" version="9.0.282" targetFramework="net48" />
  <package id="WizardWrx.BitMath" version="4.3.125.29248" targetFramework="net48" />
  <package id="WizardWrx.Common" version="9.0.287" targetFramework="net48" />
  <package id="WizardWrx.ConsoleAppAids3" version="9.0.1086" targetFramework="net48" />
  <package id="WizardWrx.ConsoleStreams" version="9.0.329" targetFramework="net48" />
  <package id="WizardWrx.Core" version="9.0.394" targetFramework="net48" />
  <package id="WizardWrx.DLLConfigurationManager" version="9.0.358" targetFramework="net48" />
  <package id="WizardWrx.FormatStringEngine" version="9.0.305" targetFramework="net48" />
</packages>