<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LeadLife_Web_Config_Fixup.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <applicationSettings>
        <LeadLife_Web_Config_Fixup.Properties.Settings>
            <setting name="XPS8930" serializeAs="String">
                <value>XPS8930¬XPS8930\MSSQLSERVER2019¬http://localhost:63641</value>
            </setting>
            <setting name="DESKTOP_QGCMBR9" serializeAs="String">
                <value>DESKTOP-QGCMBR9¬DESKTOP-QGCMBR9¬http://localhost:11076</value>
            </setting>
            <setting name="ABACUS" serializeAs="String">
                <value>ABACUS¬ABACUS¬http://localhost:11076</value>
            </setting>
            <setting name="RepositoryWebConfig" serializeAs="String">
                <value>LeadLife.Web\Web.config</value>
            </setting>
        </LeadLife_Web_Config_Fixup.Properties.Settings>
    </applicationSettings>
</configuration>