<?xml version="1.0" encoding="utf-8" ?>
<!--
    ============================================================================

    File Name:          app.config for FieldNameMapper.exe

    Synopsis:           Store settings for file names and other properties that
                        may require adjustments to conform to another user's
                        directory structure.

    Remarks:            The assemblyBinding section is a verbatim copy of a
                        known good section from the configuration file for
                        DLLServices2TestStand.exe.

                        Before this flower box and the assemblyBindings section
                        became part of this file, the FieldMappingMatrixFileName
                        key was updated via the Visual Studio user interface.

                        Asterisks cannot be used as bullets in XML documents,
                        nor can horizontal rules be built from hyphens.

    Author:             David A. Gray

    License:            Copyright (C) 2021, SalesTalk Technologies, LLC
                        All rights reserved.

                        This program is proprietary, and contains trade secrets.
                        Redistribution and use in source and binary forms, with
                        or without modification, is prohibited.

    ============================================================================
    Revision History
    ============================================================================

    Date       By  Synopsis
    ========== === =============================================================
    2020/10/31 DAG The build system generated a configuration file from inputs
                   to the Settings designer.
    2020/11/07 DAG Add this internal documentation and the assemblyBinding
                   section by hand.
    2021/04/27 DAG Eliminate the settings for inclusion of this file into a
                   project template.
    ============================================================================
-->

<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="STT_VideoPlayer_Promoted_Fixup.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="STT_VideoPlayer_Promoted_Fixup.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>

    <startup>
        <supportedRuntime version="v4.0"
                          sku=".NETFramework,Version=v4.8" />
    </startup>

    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="WizardWrx.AnyCSV"
                                  publicKeyToken="39f6551a21db420a"
                                  culture="neutral" />
                <bindingRedirect  oldVersion="0.0.0.0-7.2.145.0"
                                  newVersion="7.2.145.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
    <userSettings>
        <STT_VideoPlayer_Promoted_Fixup.Properties.Settings>
            <setting name="WorkingDirectory" serializeAs="String">
                <value>D:\Source_Code\Visual_Studio\Projects\SalesTalk\Source\salestalk\LeadLife</value>
            </setting>
        </STT_VideoPlayer_Promoted_Fixup.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <STT_VideoPlayer_Promoted_Fixup.Properties.Settings>
            <setting name="STT_VideoPlayer_StagingPath" serializeAs="String">
                <value>PURL_COMMON\STAGING\STT_VideoPlayer.html</value>
            </setting>
            <setting name="STT_VideoPlayer_ProductionPath" serializeAs="String">
                <value>PURL_COMMON\STT_VideoPlayer.html</value>
            </setting>
            <setting name="W2A_Form_Template_StagingPath" serializeAs="String">
                <value>PURL_COMMON\STAGING\Words2Actions_Form_TEMPLATE.HTML</value>
            </setting>
            <setting name="W2A_Form_Template_ProductionPath" serializeAs="String">
                <value>PURL_COMMON\Words2Actions_Form_TEMPLATE.HTML</value>
            </setting>
            <setting name="Images_Directory_Name_Prefix_PROD" serializeAs="String">
                <value>./Images/</value>
            </setting>
            <setting name="Images_Directory_Name_Prefix_DEV" serializeAs="String">
                <value>../Images/</value>
            </setting>
            <setting name="BootBoxLaboratory_ProductionPath" serializeAs="String">
                <value>PURL_COMMON\BootBoxLaboratory.html</value>
            </setting>
            <setting name="BootBoxLaboratory_StagingPath" serializeAs="String">
                <value>PURL_COMMON\STAGING\BootBoxLaboratory.html</value>
            </setting>
            <setting name="Mobile_Page_Path" serializeAs="String">
                <value>LeadLife.Web\Views\Shared\_Layout_W2A_PROD.cshtml</value>
            </setting>
            <setting name="SRI_Output_File_Name_Mask" serializeAs="String">
                <value>%TEMP%\*_SRI_*SHA???.TMP</value>
            </setting>
            <setting name="NotesSearch_Domain_Wide_StagingPath" serializeAs="String">
                <value>PURL_COMMON\STAGING\NotesSearch_Domain_Wide.HTML</value>
            </setting>
            <setting name="NotesSearch_Domain_Wide_ProductionPath" serializeAs="String">
                <value>PURL_COMMON\NotesSearch_Domain_Wide.HTML</value>
            </setting>
            <setting name="Agent_Recent_Phone_Calls_StagingPath" serializeAs="String">
                <value>PURL_COMMON\STAGING\Agent_Recent_Phone_Calls.html</value>
            </setting>
            <setting name="Agent_Recent_Phone_Calls_ProductionPath" serializeAs="String">
                <value>PURL_COMMON\Agent_Recent_Phone_Calls.html</value>
            </setting>
        </STT_VideoPlayer_Promoted_Fixup.Properties.Settings>
    </applicationSettings>
</configuration>