<?xml version="1.0"?>
<configuration>
    <!--
        ========================================================================

        File Name:      app.config

        Project Name:   WWDisplayAssemblyInfo

        Remarks:        Although the project has dependent assemblies that were
                        built against CLR version 2.0.50727, they seem to work
                        without fuss, as is, with the newer runtime. This may be
                        because the older runtime remains installed. Regardless,
                        this fact suggests that I may not need to upgrade their
                        target frameworks.

                        Lending credence to this theory is the fact that, once
                        the startup assembly is built against the newer version
                        of the framework, the dependent assemblies can call into
                        classes in its System.Reflection namespace to load
                        reflection-only copies of newer assemblies, while the
                        previous version, built against the older framework
                        threw an assembly binding exception.

                        The only changes between the previous version and the
                        new version are to the build number (in AssemblyInfo.cs)
                        and the SupportedRuntime node in the app.config file.

        Project Author: David A. Gray

        ========================================================================
        History of Major Revisions
        ========================================================================

        Date       Author Synopsis
        ========== ====== ======================================================
        2011/10/09 DAG/WW Upgrade the supported Microsoft .NET runtime from
                          version 2.0.50727 to v4.0 Client Profile.
        2015/01/11 DAG/WW Upgrade AssemblyBinding key for WizardWrx.SharedUtl2
                          to cover the version currently deployed, which is the
                          latest version.
        ========================================================================
    -->

<startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
</startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WizardWrx.DateMath" publicKeyToken="17d2d8ea40c2dbbc" culture="neutral"/>
        <bindingRedirect oldVersion="2.1.0.0-2.7.51.38468" newVersion="2.7.52.38686"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WizardWrx.SharedUtl2" publicKeyToken="17d2d8ea40c2dbbc" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.68.211.38957" newVersion="2.69.212.31430"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
