<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="WizardWrx.AnyCSV" version="7.0.120.30587" targetFramework="net35-client" />
  <package id="WizardWrx.ASCIIInfo" version="7.1.83.29298" targetFramework="net35-client" />
  <package id="WizardWrx.BitMath" version="4.3.125.29248" targetFramework="net35-client" />
  <package id="WizardWrx.Common" version="7.17.114.623" targetFramework="net35-client" />
  <package id="WizardWrx.FormatStringEngine" version="7.15.162.826" targetFramework="net35-client" />
</packages>