<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="WizardWrx.AnyCSV" version="7.0.120.30587" targetFramework="net45" />
  <package id="WizardWrx.ASCIIInfo" version="7.1.83.29298" targetFramework="net45" />
  <package id="WizardWrx.AssemblyUtils" version="7.15.114.34743" targetFramework="net45" />
  <package id="WizardWrx.BitMath" version="4.3.125.29248" targetFramework="net45" />
  <package id="WizardWrx.Common" version="7.16.104.1840" targetFramework="net452" />
  <package id="WizardWrx.ConsoleStreams" version="7.15.191.37663" targetFramework="net45" />
  <package id="WizardWrx.Core" version="7.16.156.6214" targetFramework="net452" />
  <package id="WizardWrx.DiagnosticInfo" version="7.15.1" targetFramework="net45" />
  <package id="WizardWrx.DLLConfigurationManager" version="7.15.211" targetFramework="net45" />
  <package id="WizardWrx.EmbeddedTextFile" version="7.15.90.42197" targetFramework="net45" />
  <package id="WizardWrx.FormatStringEngine" version="7.15.162.826" targetFramework="net45" />
  <package id="WizardWrx.MoreMath" version="7.15.1.36803" targetFramework="net45" />
</packages>